.container {
  background-color: #1a1a1a;
  padding: 3rem 1rem;
}

.header {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding-left: 2.7rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.infoCard {
  background: linear-gradient(#1a2042, #200e18);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.infoCard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.infoCardHeading {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.infoCardPara {
  color: #cccccc;
  font-size: 1rem;
  line-height: 1.5;
}
